aiofiles==23.2.1
aiogram==3.13.1
aiohttp==3.9.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
frozenlist==1.8.0
idna==3.10
magic-filter==1.0.12
multidict==6.7.0
propcache==0.4.1
pydantic>=2.6.0
pydantic_core>=2.16.3
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.32.5
twilio==9.8.4
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
